//THEME COLORS 
$theme-light-blue: #CEE5F2;
$theme-indigo: #293047;
$theme-purple: #46468C;
$theme-black: #444444;
$theme-grey:  #E5E5E5;

//FONT-FAMILY:
$headings-font-family: alga, serif;
$body-text: jaf-domus, sans-serif;
$number-font-family: eskorte-latin, serif;
