*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//COLORS: 
@import "variables";
@import "mixins";
@import "components/featured-posts-overlay";

$theme-colors: (
    "primary": $theme-purple, 
    "secondary": $theme-light-blue, 
    "info": $theme-indigo, 
    "light": $theme-grey,
    "black": $theme-black,
);

$body-color: $theme-black;




//TYPOGRAPHY

$font-family-sans-serif: $body-text;
$font-family-base: $body-text;
$font-size-base: 1.2rem;
$font-weight-base: 300;

$h1-font-size: 3rem;

$h2-font-size: 1.7rem;

$headings-font-weight: 300;

//COMPONENTS
$btn-border-radius: 0;

$grid-gutter-width: 40px;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 4),
    6: ($spacer * 5)
  ),
  $spacers
);

h1{
    font-style: italic;
    letter-spacing: 0.13rem;
}

h2{
    text-align: left;
    font-style: italic;
    color: $theme-purple;
    position: relative;
}

h2:before{
    @include h2-decoration;
}

//BUTTONS 
.primary-button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    width: 200px;
    font-family: $headings-font-family;
    font-style: italic;
    letter-spacing: 0.07rem;
    margin: auto;
    background-color: white;
    border: $theme-purple 1px solid;
    padding: 5px;
    color: $theme-purple;
}

.primary-button:hover{
    color: $theme-grey;
    font-family: $headings-font-family;
    font-style: italic;
    font-weight: 300;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    background-color: $theme-purple;
}
.primary-button:active{
    transform: translateX(3px);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

//ABOUT SECTION

.about-image img{
    filter: grayscale(100%);
}

//MEDIA QUERIES

@media(min-width:380px){
    .featured-post-image{
        height: 500px;
    }
    
    .featured-post-image img{
        height: 500px;
    }
}

@media(min-width:540px){
    .featured-post-image{
        height: 320px;
    }
    
    .featured-post-image img{
        height: 320px;
    }
}

@media(min-width:769px){
    .featured-post-image{
        height: 430px;
    }
    
    .featured-post-image img{
        height:430px;
    }
}

@media(min-width:1000px){
    .featured-post-image{
        height: 360px;
    }
    
    .featured-post-image img{
        height:310px;
    }
}

@media(min-width:1280px){
    .featured-post-image{
        height: 390px;
    }
    
    .featured-post-image img{
        height:390px;
    }
}



//NAVBAR
$navbar-light-color: rgba($theme-black, .8);
$navbar-light-hover-color: rgba($theme-black, .5);

.nav-link{
    font-family: $headings-font-family;
    font-weight: 400;
    font-size: 1rem;
    text-transform: lowercase;
}




@import "../bootstrap/scss/bootstrap.scss";

